*{
    margin:0;
    /* padding: 0; */
    box-sizing: border-box;
    
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
.container_header{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 200px;
    /* position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s; */
    
}
header::before{
    content: "";
    display: block;
    margin-bottom: 200px;
}

nav{
    width: 100%;
    height: 200px;
    /* background: #FC997C; */
    /* background-color: rgba(255, 255, 255, 0.6); */
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
    
    
}
.logo_espe{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.logo_espe img{
    width: 25%;
}
.links_header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.links_header a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
    transition: ease-in-out 0.8s;
    
}
.links_header a:hover{
    
    color: #4E9F3D;
    transition: ease-in-out 0.3s;
}

/* fin header */
/* FIRST-FACE */
#first_face{
    width: 100%;
    background-color: black;
    padding-top: 30px;
    margin-bottom: 30px;
    
    
    
}
.bottons_firstface{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    
    justify-content:space-evenly;
    
}
.bottons_firstface div{
    
}
.btn_neon{
    border: 2px solid #C3FF99;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: black;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    color:white;
    
}
.btn_neon:hover{
    background: #5BB318;
    box-shadow: 0 0 10px #5BB318, 0 0 40px #5BB318,
    0 0 80px #5BB318 ;
    border: 0;
    transition-delay: 1s;
}
.btn_neon span{
    position: absolute;
    display: block;

}
#span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#5BB318)
    
}
.btn_neon:hover #span1{
    left:100%;
    transition: 1s;
}

#span3{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#5BB318)
    
}
.btn_neon:hover #span3{
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top:-100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#5BB318)
    
}
.btn_neon:hover #span2{
    top:100%;
    transition: 1s;
    
    transition-delay: 0.25s;
}
#span4{
    bottom:-100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#5BB318)
    
}
.btn_neon:hover #span4{
    bottom:100%;
    transition: 1s;
    
    transition-delay: 0.75s;
}



/* FIRST-FACE FIN */
/* second-face */
#second_face{
    width: 100%;
    height: auto;
    display: flex;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    
}
.bottons_agreements{
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    /* flex-wrap: wrap; */

}
.bottons_agreements img{
    width: 70%;
}

/* second-face fin */

/* footer */
#seventh_face{
    background-color: #464F41;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 60px 0; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter{
    width: 20%;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.partFooter h5{
    color: white;
    padding-bottom: 20px;
}
.partFooter a {
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-size: 10px;
    font-weight: 200;
    transition: ease-in-out 0.3s;
}
.partFooter a:hover{
    color:#3EC70B;
    transition: ease-in-out 0.3s;
}
#eight_face{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: auto;
}
#eight_face h6{
    
    color: white;
    font-weight: 200;
    font-size: 10px;
    
}


