*{
    margin:0;
    /* padding: 0; */
    box-sizing: border-box;
    
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
.container_header{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 200px;
    /* position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s; */
    
}
header::before{
    content: "";
    display: block;
    margin-bottom: 200px;
}

nav{
    width: 100%;
    height: 200px;
    /* background: #FC997C; */
    /* background-color: rgba(255, 255, 255, 0.6); */
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
    
    
}
.logo_espe{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.logo_espe img{
    width: 25%;
}
.links_header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.links_header a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
    transition: ease-in-out 0.8s;
    
}
.links_header a:hover{
    
    color: #4E9F3D;
    transition: ease-in-out 0.3s;
}

/* fin header */
/* second-face */
#second_face{
    width: 100%;
    height: auto;
    display: flex;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    
}
.bottons_agreements{
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    /* flex-wrap: wrap; */

}
.bottons_agreements img{
    width: 70%;
}

/* second-face fin */

/* footer */
#seventh_face{
    background-color: #464F41;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 60px 0; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter{
    width: 20%;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.partFooter h5{
    color: white;
    padding-bottom: 20px;
}
.partFooter a {
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-size: 10px;
    font-weight: 200;
    transition: ease-in-out 0.3s;
}
.partFooter a:hover{
    color:#3EC70B;
    transition: ease-in-out 0.3s;
}
#eight_face{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: auto;
}
#eight_face h6{
    
    color: white;
    font-weight: 200;
    font-size: 10px;
    
}


